<div class="container">
   <form  #f="ngForm" class="form-horizontal" role="form" text-align="center">
	  
       <h2 class="text-warning">Admin Login</h2>
       <table text-align="center">
        <tr>
	
		  <td>
           <label for="email" class="col-sm-3 control-label">Email: </label>
			 </td>
		    <td>
				 <input type="email" id="email"    placeholder="Email" class="form-control" autofocus
				 ngModel name="email"  required email #email="ngModel">
		
	 <span *ngIf="!email.valid && email.touched" class="help-block">Please enter valid email!</span>
	 	</td>
	</tr>
    <tr>
	  
		   <td>
           <label for="password" class="col-sm-3 control-label">Password: </label>
			</td>
		   <td>
				 <input type="password" id="password"        placeholder="Password" class="form-control" autofocus
				 ngModel name="password" required #password="ngModel">
			
	 <span *ngIf="!password.valid && password.touched" class="help-block">Please enter valid Password!</span>
	 </td>
	</tr>
    
     <tr>
		  <td></td>
		   <td>
   <button type="submit" class="btn btn-primary btn-block">Login</button>
   </td>
   </tr>





       </table>